.CardInformationToDown { 
    animation: toDown 1000ms;
}

.CardInformationToTop { 

  animation: toTop 500ms  both;
  
  
}

.CardInformationToTop2 { 

  animation: toTop2 1000ms  both;
  
  
}





@keyframes toDown { 
    0% { 
      transform: translateY(-100px);
      opacity: 0;
    }
  
    100% { 
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes toTop { 
    0% { 
      transform: translateY(0px);
      opacity: 1;
      
    }

  
    100% { 
      transform: translateY(-100px);
      opacity: 0;
      visibility: hidden;
 
    }
  }

  @keyframes toTop2 { 
    0% { 
      transform: translateY(0px);
      opacity: 0;
      
    }

  
    100% { 
      transform: translateY(-10px);
      opacity: 1;
      
 
    }
  }