.contentClass { 
    animation: toLeft 1000ms;
 }

 .contentClassReverse { 
    animation: toRight 1000ms;
 }
 
 @keyframes toLeft { 
     0% {
       transform: translateX(-20px);
       opacity: 0;
     }
    
     100% { 
       transform: translateX(0);
       opacity: 1;
     }
    }
 
    @keyframes toRight { 
     0% {
       transform: translateX(20px);
       opacity: 0;
     }
    
     100% { 
       transform: translateX(0);
       opacity: 1;
     }
    }